/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'Raleway', sans-serif;
    color: #5a656e;
 
  }

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courgette', cursive;
    color: rgb(10, 95, 108);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#scrollTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
}
#scrollTop a {
    color: rgb(240, 192, 3);
    font-size: 2em;  
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 60vh;
    background: url("../images/island.jpg") no-repeat center fixed;
    background-size: cover;
    padding: 0 15px;    
  }

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: white;
}

#hero h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#hero .btn-scroll {
    font-size: 64px;
    transition: 0.5s;
    height: 60px;
    color: white;
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .btn-scroll:hover {
    padding-top: 10px;
    color: rgb(75, 120, 127)
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    padding: 0;
    background: #fff;
  }
  
#header h2 {
    font-size: 26px;
    margin: 0;
    padding: 6px 5px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
  }
  
#header h2 a, #header h2 a:hover {
    color: #2c4964;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
#navbarNav {
    height: fit-content;
}

#navbar_top {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

#navbarNav .nav-link {
    color: rgb(10, 95, 108);
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
}

#navbarNav .nav-link:hover {
    color: rgb(75, 120, 127);
    text-decoration: none;
    
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(10, 95, 108);
}

/* Animation burger croix*/
@media screen AND (max-width: 991px) {
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-nav {
        position: fixed;
        left: -150%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .navbar-nav.active {
        left: 0;
    }
}

@media screen AND (max-width: 667px) {
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-nav {
        position: fixed;
        left: -150%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .navbar-nav.active {
        left: 0;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
}
  
.section-bg {
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about img {
    border-radius: 50%;
    min-width: 30%;
    max-height: 30%;
}

/* image default entre 990px et 761px ! */

@media screen AND (max-width: 991px) {
    .about img {
      width: 100%;
      height: fit-content;
    }
  }
  
  @media screen AND (max-width: 667px) {
    .about img {
      width: 100%;
    }
  }

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #5a656e;
}

.skills i {
    font-size: 2em;
    color: rgb(75, 120, 127);
    padding-right: 10px;
}

.creative {
    padding-left: 40px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(75, 120, 127);
    font-family: 'Playfair Display', serif;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgb(10, 95, 108);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    color: #2c4964;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #e4ebf3;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(10, 95, 108)
}

.resume a {
    color: #5a656e;
}

.resume a:hover {
    color: rgb(10, 95, 108)
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-filters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  }
  
.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #5a656e;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-filters li:hover, .portfolio #portfolio-filters li.filter-active {
    color: rgb(10, 95, 108)
}
.portfolio-wrap a:hover {
    filter:contrast(200%);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-about h3 {
    font-size: 36px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(75, 120, 127);
    font-family: 'Playfair Display', serif;
}

.contact .social-links a {
    font-size: 22px;
    display: inline-block;
    background: #fff;
    color: rgb(10, 95, 108);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid rgb(10, 95, 108);
}
.contact .social-links a:hover {
    background: rgb(10, 95, 108);
    color: #fff;
}

.contact .info {
    color: #5a656e;
}

.contact .info i {
    font-size: 26px;
    color: rgb(10, 95, 108);
    float: left;
    line-height: 1;
}

.contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
}

.contact a {
    color: #5a656e;
}

.contact a:hover {
    color: rgb(10, 95, 108)
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
  
.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
  
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: rgb(75, 120, 127);
}

.contact .php-email-form button[type="submit"] {
    background: rgb(10, 95, 108);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: rgb(75, 120, 127)
}

/*.btn {
    background: rgb(10, 95, 108);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}

.btn :hover {
    background: rgb(75, 120, 127)
}
*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background: url(../images/island.jpg) no-repeat;
    background-position:bottom;
    padding: 60px 0;
    font-size: 14px;
    box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}
  
footer .copyright {
    color: rgb(10, 95, 108);
    font-weight: bold;
    font-size: 1.4em;
}



